html,
body {
	height: 100%;
	width: 1400px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	flex: 1;
}
